

<div data-option-list>

  {{ yield }}

  {{!-- This is the selection --}}
  <div {{ bind-attr data-selection=selection }}>
    {{ selection }}
    {{ app-icon name='arrow-down' }}
  </div>

  {{!-- These are the options --}}
  {{#each option in content }}
    <div {{ bind-attr value=option }}>
      {{ option }}
      {{ option option }}
    </div>
  {{/each}}
</div>
