<div data-option-list>

  {{ yield }}

  {{!-- This is the selection --}}
  <div {{ bind-attr data-selection=selectedOption.value }}>
    {{ selectedOption.displayName }}
    {{ app-icon name='arrow-down' }}
  </div>

  {{!-- These are the options --}}
  {{#each option in options }}
    <div {{ bind-attr value=option.value }}>
      {{ option.displayName }}
    </div>
  {{/each}}

</div>

{{!-- The Overlay, which will be moved to top of page's stacking context. --}}
<div class="select-dropdown-overlay" {{ bind-attr class='select-dropdown-overlay active:shown' }} ></div>
