
<ul>
  {{#if showAll }}
    {{#each errors as |message| }}
      <li class="{{ message.tone }} message">
        {{#if message.path}}<code class="path">{{ pretty-path message.path }}</code>{{/if}}
        <code class="field">{{ message.field }}</code>
        <span class="body">{{ message.body }}</span>
      </li>
    {{/each}}
  {{else}}
    {{#if multipleErrors }}
      <li class="error message">
        <span>Multiple fields have errors. Please fix them to submit this form.</span>
      </li>
    {{else}}
      <li class="{{ message.tone }} message">
        {{#if message.path}}<code class="path">{{ pretty-path message.path }}</code>{{/if}}
        <code class="field">{{ message.field }}</code>
        <span class="body">{{ message.body }}</span>
      </li>
    {{/if}}
  {{/if}}
</ul>

{{ yield }}
