
{{#if label }}
  <span class="label">{{ label }}</span>
{{/if}}

{{#if message }}
  <span class="{{ message.tone }} message">{{ message.body }}</span>
{{/if}}

{{ input
  autofocus=autofocus
  disabled=disabled
  maxlength=maxlength
  name=name
  pattern=pattern
  placeholder=placeholder
  type=type
  value=value
}}

{{ yield }}
