
<ul>
  {{#if multipleErrors }}
    <li class="error message">
      <span>Multiple fields have errors. Please fix them to submit this form.</span>
    </li>
  {{ else }}
    <li class="{{ message.tone }} message">
      <code>{{ message.field }}</code>
      <span>{{ message.body }}</span>
    </li>
  {{/if}}
</ul>

{{ yield }}
