
{{#if label }}
  <span class="label">{{ label }}</span>
{{/if}}

{{#if message }}
  <span class="{{ message.tone }} message">{{ message.body }}</span>
{{/if}}

{{ uni-form-radio-tag
  autofocus=autofocus
  disabled=disabled
  groupValue=groupValue
  name=name
  type='radio'
  value=value
}}

{{ yield }}
