
{{!-- partial 'uni-form-label-and-message' --}}

{{#if label }}
  <span class="label" data-text="{{ label }}">{{ label }}</span>
{{/if}}

{{#if message }}
  <span class="{{ message.tone }} message" data-text="{{ message.body }}">{{ message.body }}</span>
{{/if}}

{{ input
  autofocus=autofocus
  checked=checked
  disabled=disabled
  name=name
  type='checkbox'
}}

{{ yield }}
