
{{#if label }}
  <span class="label">{{ label }}</span>
{{/if}}

{{#if message }}
  <span class="{{ message.tone }} message">{{ message.body }}</span>
{{/if}}

{{ textarea
  autofocus=autofocus
  disabled=disabled
  maxlength=maxlength
  name=name
  placeholder=placeholder
  value=value
}}

{{ yield }}
