<h1>ember-uni-form</h1>

{{#uni-form
  form=uniForm
}}
  <fieldset>
    <legend>Fields bound to <b>form.model.&lt;property&gt;</b></legend>
    {{ uni-form-input property='addressLine_1' label='Label text' }}
    {{ uni-form-input property='addressLine_2' }}<br>
    {{ uni-form-input property='city' }}
    {{ uni-form-input property='state' }}
    {{ uni-form-input property='zipCode' }}<br>
  </fieldset>
  <address>{{ model.addressString }} {{ if model.hasMailbox '[BOX]' }}</address>
  <fieldset>
    <legend>Direct value binding</legend>
    {{#uni-form-input value=uniForm.model.addressLine_1 label='attrs.value is set' }}
      <small>
        and this is a <mark>yield block</mark> <br>
        The label is just text. Use the yield block if you need markup content.
      </small>
    {{/uni-form-input}}
    {{ uni-form-checkbox label='has mailbox' value=uniForm.model.hasMailbox }}
  </fieldset>
{{/uni-form}}

<fieldset>
  <legend>Checkbox</legend>
  {{#uni-form-checkbox disabled=isPantsDisabled value=isPurplePantsFan }}
    Do you like <mark>purple</mark> pants?
  {{/uni-form-checkbox}}
  => {{ if isPurplePantsFan 'YES' 'no' }}
  {{ uni-form-checkbox label='disable' value=isPantsDisabled }}
</fieldset>

<fieldset>
  <legend>Radio</legend>
  {{ uni-form-radio disabled=isDishabled groupValue=dish label='Eggs, please' value='eggs' }}
  {{#uni-form-radio disabled=isDishabled groupValue=dish value='spam' }}
    Hooray for <mark>spam</mark>!
  {{/uni-form-radio}}
  => {{ breakfastDish }}
  {{#uni-form-checkbox value=isDishabled }} disable {{/uni-form-checkbox}}
</fieldset>
