<h1>ember-uni-form</h1>

{{#uni-form
  form=uniForm
  action=(action 'submit')
}}
  <fieldset>
    <legend>Fields bound to <b>form.model.&lt;property&gt;</b></legend>
    {{ uni-form-input property='addressLine1' label='Label text' }}
    {{ uni-form-input property='addressLine2' }}<br>
    {{ uni-form-input property='city' }}
    {{ uni-form-input property='state' }}
    {{ uni-form-input property='zipCode' }}<br>
  </fieldset>
  <address>{{ model.addressString }} {{ if model.hasMailbox '[BOX]' }}</address>
  <fieldset>
    <legend>Zoning</legend>
    {{ uni-form-radio label='Residential' property='zoning' value='residential' }}
    {{ uni-form-radio label='Commercial' property='zoning' value='commercial' }}
    {{ uni-form-radio label='Other' property='zoning' value='other' }}
    => "{{ model.zoning }}"<br>
    {{ uni-form-select content=model.zoningOptions label='or with a select' prompt='prompt text' property='zoning' }}
  </fieldset>
  <fieldset>
    <legend>Direct value binding</legend>
    {{#uni-form-input label='attrs.value is set' value=uniForm.model.addressLine1 }}
      <small>
        and this is a <mark>yield block</mark> <br>
        The label is just text. Use the yield block if you need markup content.
      </small>
    {{/uni-form-input}}
    {{ uni-form-checkbox label='has mailbox' value=uniForm.model.hasMailbox }}
  </fieldset>
  {{ uni-form-messages }}
  <input class="uni-form-submit" type="submit" value="Save">
{{/uni-form}}

<fieldset>
  <legend>Checkbox</legend>
  {{#uni-form-checkbox disabled=isPantsDisabled value=isPurplePantsFan }}
    Do you like <mark>purple</mark> pants?
  {{/uni-form-checkbox}}
  => "{{ if isPurplePantsFan 'YES' 'no' }}"
  {{ uni-form-checkbox label='disable' value=isPantsDisabled }}
</fieldset>

<fieldset>
  <legend>Radio</legend>
  {{ uni-form-radio disabled=isDishabled groupValue=dish label='Eggs, please' value='eggs' }}
  {{#uni-form-radio disabled=isDishabled groupValue=dish value='spam' }}
    Hooray for <mark>spam</mark>!
  {{/uni-form-radio}}
  => "{{ dish }}"
  {{#uni-form-checkbox value=isDishabled }} disable {{/uni-form-checkbox}}
</fieldset>

<fieldset>
  <legend>Select</legend>
  {{ uni-form-select-month label='month select label' value=month }} => "{{ month }}"
  {{ uni-form-select-year label='year select label' value=year }} => "{{ year }}"
</fieldset>
