<h1>Nested model support</h1>

{{#uni-form
  action=(action 'submit')
  form=uniForm
}}

  <fieldset>
    <legend>paymentMethod</legend>
    {{ uni-form-input payloadKey='number' }}
    {{ uni-form-select payloadKey='expMonth' content=model.monthOptions }}
    {{ uni-form-select payloadKey='expYear' content=model.yearOptions }}
    {{ uni-form-input payloadKey='cvv' label='CVV' }}
  </fieldset>

  <fieldset>
    <legend>paymentMethod.billingAddress</legend>
    {{ uni-form-input payloadKey='billingAddress.addressLine1' }}
    {{ uni-form-input payloadKey='billingAddress.addressLine2' }}<br>
    {{ uni-form-input payloadKey='billingAddress.city' }}
    {{ uni-form-input payloadKey='billingAddress.state' }}
    {{ uni-form-input payloadKey='billingAddress.zipCode' }}<br>
    {{ uni-form-radio payloadKey='billingAddress.zoning' label='Residential' value='residential' }}
    {{ uni-form-radio payloadKey='billingAddress.zoning' label='Commercial' value='commercial' }}
    {{ uni-form-radio payloadKey='billingAddress.zoning' label='Other' value='other' }}
    => "{{ model.billingAddress.zoning }}"<br>
    {{ uni-form-select payloadKey='billingAddress.zoning' content=model.billingAddress.zoningOptions }}
  </fieldset>

  <address>{{ model.billingAddress.addressString }}</address>

  {{ uni-form-messages showAll=true }}

  <input type="submit">

{{/uni-form}}
